<a href="https://colab.research.google.com/github/agtbaskara/tugas-linear-regression/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
from google.colab import files
%matplotlib inline

uploaded = files.upload()

Saving machine.data to machine (1).data

In [0]:
dataset = pd.read_csv('machine.data', names=["vendor","model","myct","mmin","mmax","cach","chmin","chmax","prp","erp"])  
dataset.drop('erp',axis=1,inplace=True)
dataset.head()

    vendor    model  myct  mmin   mmax  cach  chmin  chmax  prp
0  adviser    32/60   125   256   6000   256     16    128  198
1   amdahl   470v/7    29  8000  32000    32      8     32  269
2   amdahl  470v/7a    29  8000  32000    32      8     32  220
3   amdahl  470v/7b    29  8000  32000    32      8     32  172
4   amdahl  470v/7c    29  8000  16000    32      8     16  132

In [0]:
X = dataset[['myct','mmin','mmax','cach','chmax']]
y = dataset['prp']  

from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)  

from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

       Coefficient
myct      0.055779
mmin      0.014763
mmax      0.006089
cach      0.677663
chmax     1.455589

In [0]:
y_pred = regressor.predict(X_test)  
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

     Actual   Predicted
12       92   74.646670
80       16   -5.368658
33       63   97.912392
5       318  341.706386
187      75   90.456810
83       16  -14.368357
116      66   93.931625
122      12   38.468256
90      141  269.827686
154     214  201.845272
45       72   31.829201
156     510  578.496420
52      138   72.571171
189     188  234.486032
96      465  448.161960
86       40   10.706778
205      46   39.640842
37       29   -8.021312
66       17  -33.182413
18       31   -4.420755
170      25  -21.619604
15       35  100.083242
7       489  459.639333
55       60   45.088131
92       22   33.595147
134      45   98.525612
125      27    2.775506
124      20    5.511603
158      12  -22.267592
184      33   43.418883
..      ...         ...
71       64  109.842628
186     130  135.893151
145      74  122.677180
176      30  -13.155738
118      49   52.599338
16       19   -6.143313
135      54  106.657571
190     173  248.023571
22       61  110.210587
104      16   -4.188572
141      60   51.157528
4       132  199.482734
74       44   22.710822
136      65  106.657571
44       72   56.183288
63      144  118.473349
108      11    4.132932
26       33    4.266970
101      45    7.454133
166     116  115.515847
197     397  421.325155
8       636  654.472026
40       36   16.332775
109      18   32.313267
126      45   32.550899
129      80   92.101684
110      22   35.023920
191     248  318.416968
107      11   11.337049
76       45   27.777625

[63 rows x 2 columns]

In [0]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 31.236071576001937
Mean Squared Error: 1491.1921599058485
Root Mean Squared Error: 38.61595732214661